

main{
  .box-gray-logo{
    text-align: -webkit-center !important;
    img{
      filter: grayscale(100%);
      transition: 0.7s;
      &:hover{
        filter: grayscale(0);
      }
    }
  }
}



.blog-container { padding-top: 20px;  }
.blog-card { min-width: calc(33.33% - 20px); }
.blog-title { --fs-5: 1rem;    display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  -webkit-line-clamp: 2 !important;
  white-space: normal !important; }
.blog-banner{
  transition: 0.5s;
  &:hover{
    filter: grayscale(100%);
  }
}
.footer-nav-list {
  min-width: calc(50% - 16px);
}

.footer-nav-list:last-child { display: none; }

.footer-bottom { margin-bottom: 0; }