
.my-logo{
  width: 10%;
}

.cs-mx{
  padding: 4px 16px;
}

.cs-mx{
  &:hover{
    svg{
      color: red;
    }
  }
}
header{
  z-index: 9;
  background-color: white;
  transform: translateX(50);
  right: 0;
  left: 0;
  border: 0.5px ridge #eaeaea;
  top: -3%;
}

.main-slider{
  margin-top: 100px !important;
}

.icons-in-header{
  svg{
    transition: 0.2s;
    cursor: pointer;
    &:hover{
      color: red;
    }
  }
  .number-top-icon{
    position: absolute;
    top: -11px;
    right: 0;
    font-size: 10px;
    background-color: #f96747;
    color: white;
    padding: 3px 8.5px;
    border-radius: 50%;

  }
}
//
//.mr-cs{
//  margin-right: 145px !important;
//}
//.mr-cs-2{
//  margin-right: 20px !important;
//}
//@media only screen and (max-width: 1000px){
//  .mr-cs-2{
//    margin-right: 0 !important;
//  }
//}
//@media only screen and (min-width: 1900px){
//  .mr-cs{
//    margin-right: 170px !important;
//  }
//  header{
//    margin-top: 30px !important;
//  }
//}
//@media only screen and (min-width: 2100px){
//  .mr-cs{
//    margin-right: 220px !important;
//  }
//  header{
//    margin-top: 30px !important;
//  }
//}
//@media only screen and (min-width: 2300px){
//  .mr-cs{
//    margin-right: 300px !important;
//  }
//  header{
//    margin-top: 30px !important;
//  }
//}
//@media only screen and (min-width: 2500px){
//  .mr-cs{
//    margin-right: 500px !important;
//  }
//  header{
//    margin-top: 30px !important;
//  }
//}
//@media only screen and (min-width: 2900px){
//  .mr-cs{
//    margin-right: 650px !important;
//  }
//  header{
//    margin-top: 30px !important;
//  }
//}

.cs-w{
  width: 80px;
  margin-top: 0 !important;
}
.cs-w-2{
  width: 50px;
  margin-top: 0 !important;
}

.search-box{
  position: absolute;
  width: 100%;
  top: -40%;
  padding: 30px 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  transition: 0.5s;
}

.sub-btn{
  padding: 2px !important;
  position: absolute;
  top: 4%;
  left: 6%;
  color: gray;
}
.close-modal{
  cursor: pointer;
}

.show-modal-style{
  z-index: 999999999999999999;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 30px 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  transition: 0.5s;
}



@media only screen and (max-width: 1024px){
    .desktop-navigation-menu{
      display: none !important;
    }
  .mobile-bottom-navigation{
    display: flex !important;
  }
  main , .main-slider {
    margin-top: 60px !important;
    margin-bottom: 20px !important;

  }
}

.cus-fs-1{
  color: black ;
}

.my-inp{
  width: 99% !important;
  &:focus{
    background-color: #fbfbfb !important;
    border: 1px ridge #EEEEEE !important;
  }
}
.bg-cs-2{
  background-color: #fbfbfb !important;
}

.search-mb{
  z-index:999!important;
  top: -0.2% !important;
  right: 0 !important;
  left: 0 !important;
}
@media only screen and (min-width: 1025px) {
  .search-mb{
     display: none !important;
   }
}

@media only screen and (min-width: 1025px){
  .copen-cs{
    padding: 50px  0 !important;
  }
}


.cs-text-inp{
  top: 19%;
  right: 6%;
  font-size: 15px;
}

.profile-in-head{
  border-radius: 7.5em;
}

.tol-mb{
  margin-bottom: 2px !important;
  color: gray;
  font-size: 10px;
}


.footer-icons{
  border-radius: 50%;
  transition: all ease 0.3s;
  &:hover{
    background-color:#f96747;
    svg{
      transition: 0.3s;
      color: white !important;
      fill: white !important;
    }
  }
}


.ddd-sss{
  margin-top: -5px !important;
}



















