.product {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  transition: 0.7s;
  cursor: pointer;
  transform: none;
  text-transform: none;
  margin: auto 8px;
}


.Specifications{
  color: black !important;
}

.one-img{
  opacity: 1;
  transition: 0.7s ;
  pointer-events: none ;
}

.d-bx{
  width: 100%;
  text-align: -webkit-left;
  white-space: nowrap;
}

@media only screen and (max-width: 550px){
  .cs-slide-v-2-swiper-button-next{
    position: absolute;
    top: 45% !important;
    transform: translateY(41%);
    left: -12% !important;
  }
  .cs-slide-v-2-swiper-button-prev{
    position: absolute;
    top: 45% !important;
    transform: translateY(41%);
    right: -12% !important;
  }
  .d-bx{
    padding-right: 0.6rem !important;
    padding-left: 0.6rem !important;
    margin-left: 1rem !important;
    text-align: -webkit-center !important;
  }
  .Specifications{
    padding-right: 0.6rem !important;
    padding-left: 0.6rem !important;
  }

  .stars{
    left: 30px !important;
  }
}

.href-slide{
  visibility: visible !important;
  z-index: 99;
}
article{
  cursor: pointer;
  transition: 0.7s ease all;
  &:hover{
    .two-img{
      opacity: 1;
      transition: 0.7s !important;
      pointer-events: none !important;
    }
    .one-img{
      opacity: 0;
      transition: 0.7s !important;
      visibility: hidden !important;
      pointer-events: none !important;
    }
    .icons{
      visibility: visible;
      opacity: 1;
      margin-top: 0;
      z-index: 999;
      .like , .add-to-cart , .view{
        top: 77%;
      }
    }
  }
}


.product img {
  width: 120%;
  height: auto;
  object-fit: cover;
  max-width: 120% !important;
}

.two-img{
  opacity: 0;
  position: absolute;
  transition: 0.7s;
}

.two-img , .one-img{
  width: 70% !important;
}


button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
}


#cart-dashboard.show {
  position: fixed;
  right: -300px;
  transform: translateX(-100%);
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.3s;
  z-index: 999;
}

#cart-dashboard h2 {
  margin-top: 0;
}


.hidden {
  visibility: hidden;
  position: fixed;
  height: 100vh;
}

#close-cart {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  text-align: end;
  z-index: 9999999;
  &:hover{
    color: red;
  }
}

#cart-dashboard{
  position: relative;
}

#cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 35px;
}

#cart-items{
  margin-top: 30px;
  height: 500px;
  overflow-y: scroll;
}
#cart-items::-webkit-scrollbar{
  width: 8px;
  background: #f1f1f1;
  border-radius: 7px;
}
#cart-items::-webkit-scrollbar-thumb{
  background-color: #e0dada;
  border-radius: 7px;
}

.header-in-shop{
  border-bottom: 1px ridge rgba(0, 0, 0, 0.1);
  padding: 15px 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom: 1px ridge rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  position: relative;
  gap: 0 !important;
}

.cart-item img {
  height: 25%;
  margin-left: 10px;
}

.cart-item .count {
  margin-left: 10px;
  font-size: 13px;

}


.empty-cart-message{
  position: absolute;
  top: 50%;
  right: 20%;
}

#total-price{
  text-align: center;
  margin-top: 20px;
}

.icon-in-shop{
  transition: 0.3s;
  position: absolute;
  &:hover{
    color: red;
  }
}


.plus{
  top: 0;
  left: 0;
}
.minus{
  top: 35px;
  left: 0;
}
.delete{
  top: 70px;
  left: 1.5px;
}

.icon-button {
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
}


.icon-button img {
  width: 20px;
  height: auto;
}

.icons{
  visibility: hidden;
  transition: 0.7s;
  opacity: 0;
  margin-top: 60px;
  button{
    background-color: #f96747;
    border-radius: 50%;
    transition: 0.3s;
    padding: 5px !important;
    &:hover{
      background-color: #2c2727;
    }
  }
  .like{
    transition: 0.7s;
    right: 20%;
    top: 95%;
    position: absolute;
    color: white;
  }
  .add-to-cart{
    transition: 0.7s;
    right: 42%;
    top:  95%;
    position: absolute;
    color: white;
  }
  .view{
    transition: 0.7s;
    right: 64%;
    top:  95%;
    position: absolute;
    color: white;
  }
}


.hidden-dashboard{
  position: fixed !important;
  right: -350px !important;
  top: 0;
  transition: 0.3s;
  visibility: hidden;
  height: 100vh;
  width: 300px;
  max-height: 100vh;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  scroll-padding: 0 !important;
  z-index: 999999999999;
}

.show-dashboard {
  top: 0;
  visibility: visible;
  position: fixed !important;
  right: 0 !important;
  transition: 0.3s;
  height: 100vh ;
  width: 300px;
  max-height: 100vh;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  scroll-padding: 0 !important;
  z-index: 999999999999;
}



.Specifications{
  font-size: 12px;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  -webkit-line-clamp: 2 !important;
  white-space: normal !important;
  line-height: 1.2rem;
}

.price{
  top: 100%;
  left: 5%;
}


.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

#prevButton {
  margin-right: 10px;
  opacity: 0;
}

#prevButton.show {
  opacity: 1;
}


.stars {
  display: flex;
  cursor: pointer;
  left: 40px ;
  top: 15px !important;
  z-index: 1 !important;
}
.star {
  width: 14px;
  height: 14px;
  fill: grey;
  transition: fill 0.2s;
}
.hover {
  fill: gold;
}
.rated {
  fill: gold;
}


.cs-mb{
  margin-bottom: -100px !important;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 750px){
  .product {
    .one-img,.two-img{
      width: 120% !important;
    }
  }
}

@media only screen and (max-width: 450px){

  .icons{
    button{
      padding: 2px !important;
    }
  }
  .view{
    right: 65% !important;
  }
  .add-to-cart{
    right: 37% !important;
  }
  .like{
    right: 10% !important;
  }
}

.b-x-s {
  border: 1px solid #d5d5d5;
  border-radius: 7px;
  text-align: center !important;
  margin: 14px 13px;
  padding: 10px 0 !important;
  max-width: calc(25% - 25px);
}

.b-x-s img {
  display: inline !important;
  max-width: 100% !important;
  height: auto !important;
}

.cs-a-box{
  top: 20%;
  right: 0;
  background-color: rgb(219, 231, 255);

}


.show-null{
  height: 50vh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.href-slide{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


