.w-center{
  text-align: -webkit-center;
}

.category-slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
  text-align: -webkit-center !important;
}

.w-right{
  text-align: -webkit-right !important;
}


.slider-wrapper {
  display: flex;
  gap: 20px;
  user-select: none;
  will-change: transform;

}

.slide-item {
  text-align: center;
  position: relative;

}

.category-circle {
  width: 95px !important;
  height: 95px !important;
  background-color: #e0e0e0;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.slide-item img {
  width: 140px;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
  object-fit: contain;
}

.category-name {
  margin-top: 15px;
  font-size: 13px;
  color: #333;
  white-space: nowrap;
}

@media only screen and (max-width: 1024px) {
  .category-circle {
    width: 85px !important;
    height: 85px !important;
    background-color: #e0e0e0;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}
@media only screen and (max-width: 600px) {
  .category-circle {
    width: 70px !important;
    height: 70px !important;
    background-color: #e0e0e0;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .slide-item img{
    width: 60px !important;
    top: 2% !important;
  }
}


