.w-center{
  text-align: -webkit-center;
}

.category-slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
  text-align: -webkit-center !important;
}

.w-right{
  text-align: -webkit-right !important;
}


.slider-wrapper {
  display: flex;
  gap: 20px;
  user-select: none;
  will-change: transform;

}

.slide-item {
  text-align: center;
  position: relative;

}

.category-circle {
  width: 90px;
  height: 90px;
  background-color: #e0e0e0;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.slide-item img {
  width: 140px;
  height: auto;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
  object-fit: contain;
}

.category-name {
  margin-top: 30px;
  font-size: 13px;
  color: #333;
  white-space: nowrap;
}


