.webkit-center{
  text-align: -webkit-center !important;
  box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
  overflow: hidden;
  border-radius: 3px !important;
  cursor: pointer;
  h5{
    top: 30%;
    right: 40%;
    background-color: #eeeeee;
    font-size: 14px;
    border-radius: 3px !important;
    transition: 0.3s;
    a{
      text-decoration: none;
      color: black;
    }
  }
  &:hover{
   .overlay-for-plp{
     opacity: 1;
     transition: 0.3s;
   }
    .show-btn-for-plp{
      visibility: visible;
      top: 30%;
      opacity: 1;
    }
  }
}


.overlay-for-plp{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, .5);
  opacity: 0;
  transition: 0.3s;
}


.show-btn-for-plp{
  position: absolute;
  padding: 10px 2px;
  top: 40%;
  right: 37%;
  background-color: #f96747;
  font-size: 14px;
  border-radius: 3px !important;
  transition: 0.2s;
  z-index: 99999999999999999;
  color: white;
  visibility: hidden;
  opacity: 0;
  a{
    text-decoration: none;
    color: white;
    :hover{
      color: white !important ;
    }
  }
}

